body {
  margin: 0;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #f7fbff;
}

.title {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 110px;
  letter-spacing: 6px;
  color: #1479d4;
  text-shadow: 2px 2px 0px #0f4f9e;
}
